# **STATS FOR MY THESIS**

*"Lies, damned lies, and statistics"*

### DEPENDENCIES & DATA

In [66]:
# Import packages
import numpy as np
import pandas as pd
import scipy.stats as damned_lies
import scikit_posthocs as posthocs

In [58]:
# Load data sets from "csv's"
friedman = pd.read_csv("data/Attempts-per-Scenario-Friedman.csv", delim_whitespace=True)
friedman_detection = pd.read_csv("data/friedman-detection-model.csv", delim_whitespace=True)
friedman_feedback = pd.read_csv("data/friedman-feedback-group.csv", delim_whitespace=True)

wilcoxon = pd.read_csv("data/Before-And-After-Correct-Answers-Wilcoxon-Signed-Rank-Test.csv", delim_whitespace=True)
students = pd.read_csv("data/Correct-Answers-Postgame-Independent-Sample-T-Test.csv", delim_whitespace=True)

### FRIEDMAN
*Non parametric test to compare individual question performance*

In [59]:
friedman_detection

,UserId,StudyGroupId,Scenario1,Scenario2,Scenario3,Scenario4,Scenario5,Scenario6,Scenario7,Scenario8
0,44791A1C-70BC-487F-857D-09931E01239E,1,1,2,2,2,1,1,1,1
1,D3A563F1-49D5-48AC-A438-2E8DC03FA00C,1,1,2,1,1,1,2,1,2
2,86767E70-DDBB-4B8F-807B-4A9057CAEFC6,1,1,1,1,1,1,1,1,1
3,0BDC9E45-26DE-42D6-AE95-4E5E6CDBFFE8,1,1,1,2,1,1,1,1,1
4,0075A8B0-3CA3-48FC-B66D-4E645F59A044,1,1,1,1,1,1,1,1,1
5,33AFBA48-79BC-441B-A6E5-555DFDDA9EE2,1,1,1,1,1,1,1,1,3
6,E6A6D715-9FA1-4504-9425-697466ABC7C4,1,2,1,2,1,1,2,1,3
7,10E07795-6E1C-4DAA-998E-6C5055C8BCDA,1,1,1,1,1,1,1,1,1
8,B16B1E41-BDFD-4966-8B9D-7513FD114C92,1,1,1,2,1,1,1,1,3
9,42FD1FDD-5E76-4BC8-B9FF-B18ADFD20BD4,1,1,1,1,1,1,1,1,2
10,771C4071-311B-4E03-95A1-B44DAC60A5DB,1,1,1,1,1,1,1,1,1
11,2A5E8609-81F2-424E-B01F-B7AC5B8A4F39,1,1,1,1,2,1,2,1,1
12,BF16631F-1E70-4791-AF9A-BA41067F65D2,1,1,1,2,1,1,1,1,3
13,DE35FFFC-D67B-4CB4-A2CF-BEB3358E2FB3,1,1,1,2,1,1,1,1,1
14,C1A5E8EF-976A-484E-929D-C211FA94DF1E,1,2,1,2,2,1,1,1,1
15,E444631B-D60D-4A40-90BF-D5CAD238F849,1,1,2,2,1,1,1,1,2
16,5595AE42-9FCB-4F02-A069-DCB42B8DD50A,1,1,1,2,2,1,1,1,1
17,336C916D-70E3-449B-A21B-E2B143F8B505,1,1,2,1,1,2,2,1,1
18,D785C2BE-831E-4B72-AAB0-FAB484C1BBD7,1,2,1,1,1,1,1,1,1

In [60]:
# FRIEDMAN FOR BOTH GROUPS
# NULL HYPOTHESIS: Median performance of problem scenarios are all the same
damed_lies.friedmanchisquare(*np.transpose(friedman.values)[1:])

FriedmanchisquareResult(statistic=33.05735805330244, pvalue=2.583291815262756e-05)

In [61]:
# FRIEDMAN FOR DETECTION MODEL
# NULL HYPOTHESIS: Median performance of problem scenarios are all the same
damed_lies.friedmanchisquare(*np.transpose(friedman_detection.values)[2:])

FriedmanchisquareResult(statistic=19.349431818181692, pvalue=0.007160380493263334)

In [62]:
# FRIEDMAN FOR FEEDBACK GROUP
# NULL HYPOTHESIS: Median performance of problem scenarios are all the same
damed_lies.friedmanchisquare(*np.transpose(friedman_feedback.values)[2:])

FriedmanchisquareResult(statistic=42.684931506849196, pvalue=3.8369691993606476e-07)

**Sucessfully rejected the null hypothesis in both cases, apply**
**pairwise comparisons using Nemenyi post hoc test**

In [118]:
# DETECTION MODEL
posthocs.posthoc_nemenyi_friedman(friedman_detection.drop(['UserId', 'StudyGroupId'], axis=1))

,Scenario1,Scenario2,Scenario3,Scenario4,Scenario5,Scenario6,Scenario7,Scenario8
Scenario1,1.000000,0.9,0.768777,0.9,0.900000,0.9,0.900000,0.900000
Scenario2,0.900000,1.0,0.900000,0.9,0.900000,0.9,0.900000,0.900000
Scenario3,0.768777,0.9,1.000000,0.9,0.470039,0.9,0.301991,0.900000
Scenario4,0.900000,0.9,0.900000,1.0,0.900000,0.9,0.900000,0.900000
Scenario5,0.900000,0.9,0.470039,0.9,1.000000,0.9,0.900000,0.630197
Scenario6,0.900000,0.9,0.900000,0.9,0.900000,1.0,0.900000,0.900000
Scenario7,0.900000,0.9,0.301991,0.9,0.900000,0.9,1.000000,0.470039
Scenario8,0.900000,0.9,0.900000,0.9,0.630197,0.9,0.470039,1.000000

In [119]:
# FEEDBACK GROUP
posthocs.posthoc_nemenyi_friedman(friedman_feedback.drop(['UserId', 'StudyGroupId'], axis=1))

,Scenario1,Scenario2,Scenario3,Scenario4,Scenario5,Scenario6,Scenario7,Scenario8
Scenario1,1.000000,0.900000,0.900000,0.900000,0.118189,0.570804,0.900000,0.900000
Scenario2,0.900000,1.000000,0.900000,0.900000,0.174998,0.470039,0.900000,0.900000
Scenario3,0.900000,0.900000,1.000000,0.900000,0.788576,0.043333,0.404639,0.709385
Scenario4,0.900000,0.900000,0.900000,1.000000,0.590602,0.108545,0.610400,0.900000
Scenario5,0.118189,0.174998,0.788576,0.590602,1.000000,0.001000,0.007416,0.039221
Scenario6,0.570804,0.470039,0.043333,0.108545,0.001000,1.000000,0.900000,0.808373
Scenario7,0.900000,0.900000,0.404639,0.610400,0.007416,0.900000,1.000000,0.900000
Scenario8,0.900000,0.900000,0.709385,0.900000,0.039221,0.808373,0.900000,1.000000

### UNPAIRED T-TEST
*H_0: There is a significant difference in performance between groups 1 and 2*

In [94]:
# Failed to reject H_0 --> We cannot conclude there is a difference in means of the two populations
group1 = students[students["StudyGroupId"] == 1]["CorrectAnswersCount"]
group2 = students[students["StudyGroupId"] == 2]["CorrectAnswersCount"]

damned_lies.ttest_ind(group1, group2)

Ttest_indResult(statistic=1.3005442373195382, pvalue=0.20167873671208875)

### WILCOXON RANK
*Determine weather game has significantly affected an individuals performance on questions*


*H_0: There is no significant different between populations*

In [78]:
# There appears to be no significant difference before and after the game
damned_lies.wilcoxon(wilcoxon["Baseline"], wilcoxon["Postgame"])

WilcoxonResult(statistic=87.0, pvalue=0.0002624666422454448)